* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  height: 100px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
  width: 100px;
}

footer {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding-bottom: 50px;
}

/* Container */
.logo {
  width: 200px;
}

.hl-box {
  display: flex;
  width: 50%;
}

.hr-box {
  display: flex;
  width: 50%;
}

.button-start {
  color: white;
  padding: 10px;
}

.button-start-2 {
  color: white;
  padding: 10px;
}

.button-white {
  color: black;
  padding: 10px;
  border: 1px solid black;
  font-size: 20px;
}

.container-big {
  max-width: 1400px;
  margin: 0 auto;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;

}

.row-top {
  display: flex;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-100 {
  width: 100%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3 - 20px);
}

.col-70 {
  width: 70%;
}

.col-20 {
  width: calc(100% / 5 - 20px);
}

.col-30 {
  width: 30%;
}

.title {
  font-size: 100px;
  font-weight: bolder;
}

.title-small {
  font-size: 50px;
  font-weight: bolder;
}

.section-blue {
  width: 100%;
  background-color: #B4D0E6;
}

.text-box {
  font-size: 20px;
  margin-bottom: 30px;
}

.img-box {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}

.coordinate {
  width: 100%;
  position: absolute;
}


.card-img img {
  width: 100%;
}


.top-text {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.bottom-text {
  font-size: 20px;
  margin-bottom: 70px;
}

.box {
  border: 0.5px solid #D6D5D8;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;

}

.box-top {
  border: 0.5px solid #D6D5D8;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.partners {
  width: 100%;
}

.fatturazione {
  margin-bottom: 50px;
  gap: 50px;
  margin-top: 80px;
}

#f-mensile {
  background-color: white;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  align-items: center;
}

#f-annuale {
  background-color: white;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  align-items: center;
}

/* Align / Justify */
.align-items-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text.center {
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex {
  display: flex;
}


/* Utilities */
.p-30 {
  padding: 30px;
}

.p-10 {
  padding: 10px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-50 {
  padding-top: 50px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-15 {
  margin-top: 15px;
}

.m-10 {
  margin: 10px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}


.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

/* Background-color  */
.bg-blue {
  background-color: #0061FE;
}


/* Size */
.size-50 {
  font-size: 50px;
}

.size-30 {
  font-size: 30px;
}

.size-20 {
  font-size: 20px;
}

/* Text / Font properties */

.bold {
  font-weight: bold;
}

.color-blue {
  color: blue;
}

.min-height-1030 {
  min-height: 1030px;
}

.font-t {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

/* Bonus-1 */

.button-start:hover {
  background-color: #0048c9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-start-2:hover {
  background-color: #0048c9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-white:hover {
  background-color: #f0f0f0;
  color: #0061FE;
  border-color: #0061FE;
  cursor: pointer;
  transition: background-color 0.3s;
}

