* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  height: 100px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Container */
.logo {
  width: 200px;
}

.hl-box {
  display: flex;
  width: 50%;
}

.hr-box {
  display: flex;
  width: 50%;
}

.button-start {
  color: white;
  padding: 10px;
}

.button-start-2 {
  color: white;
  padding: 10px;
}

.container-big {
  max-width: 1400px;
  margin: 0 auto;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  
}

.row-top {
  display: flex;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-100 {
  width: 100%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3 - 20px);
}

.title {
  font-size: 100px;
  font-weight: bolder;
}

.title-small {
  font-size: 50px;
  font-weight: bolder;
}

.section-blue {
  width: 100%;
  background-color: #B4D0E6;
}

.text-box {
  font-size: 20px;
  margin-bottom: 30px;
}

.img-box {
  font-size: 20px;
  margin-bottom: 30px;
}

.img-box img {
  width: 100%;
}

.card.img {
  position: relative;
}

.card-img img {
  width: 100%;
}

.top-text {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.bottom-text {
  font-size: 20px;
  margin-bottom: 70px;
}

/* Align / Justify */
.align-items-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text.center {
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}



/* Utilities */
.p-30 {
  padding: 30px;
}

.p-10 {
  padding: 10px;
}

.mt-150 {
  padding-top: 150px;
}

.m-10 {
  margin: 10px;
}

.mb-150 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* Background-color  */
.bg-blue {
  background-color: #0061FE;
}

/* Size */
.size-30 {
  font-size: 30px;
}